// Should be split into several scss files and imported here

$bg-image-path: '../assets/img/meeting_room01.jpg';

body{
  background: url($bg-image-path);
  background-color: yellow;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
//  background-position: top;
  //background-repeat: no-repeat;
  background-size: cover;
}

.ribbon-wrapper {

  $action-color: #477dca !default;
  $ribbon-background: $action-color;
  $ribbon-size: 170px;

  overflow: hidden;
  position: absolute;

  width: $ribbon-size;
  height: $ribbon-size;

  .ribbon {
    transform: rotate(-45deg);
    background-color: rgba(229,203,57,1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 1.5rem;
    line-height: 2.5rem;
    position: relative;
    text-align: center;
    top: 24px;
    left: -40px;
  }
}
