// Should be split into several scss files and imported here
$bg-image-path: '../assets/img/meeting_room01.jpg';


$wallpaper-yellow: rgba(229,203,57,1);

// navbar
$nav-border-thickness: 5px;
$nav-font-family: Lato;
$nav-font-weight: 700;

body{
  background: url($bg-image-path);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
//  background-position: top;
  //background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  font-family: $nav-font-family;
  font-weight: $nav-font-weight;
  font-size: 1.15rem;
}

.content-container{
  background-color: rgba(255,255,255,0.4);
}

.nav-item{
  // border-bottom: 1px dotted $navbar-light-color;
  // &.active{
  //   border-bottom: 1px dotted $wallpaper-yellow;
  //
  // }
}

.nav-item.active::first-letter{
  color: $wallpaper-yellow;
}

.ribbon-wrapper {

  $action-color: #477dca !default;
  $ribbon-background: $action-color;
  $ribbon-size: 170px;

  overflow: hidden;
  position: absolute;

  width: $ribbon-size;
  height: $ribbon-size;

  .ribbon {
    transform: rotate(-45deg);
    background-color: $wallpaper-yellow;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 1.5rem;
    line-height: 2.5rem;
    position: relative;
    text-align: center;
    top: 24px;
    left: -40px;
  }
}
